<h1 mat-dialog-title> {{ data.playlist.results.name }} <img mat-card-lg-image align="end" [src]="data.playlist.results.thumbnail"></h1>
    <h2 mat-dialog-subtitle> {{ data.playlist.results.owner }} </h2>
      
  <mat-dialog-content>
      <mat-list>                                              
         <div *ngFor=" let song of data.playlist.results.songs">                                         <!-- Artist-song display -->
          <mat-list-item> {{ song.name }} - {{ song.artist }} </mat-list-item>     
          <mat-divider></mat-divider>
        
        </div>  
      </mat-list>

                                                      <!-- buttons -->
    <!-- <mat-dialog-actions>
        <button (click)="favPlaylist()" mat-button>
            <mat-icon>star</mat-icon>   
        </button>
        <button (click)="onSubmit()" mat-button>Submit</button>
    </mat-dialog-actions> -->

      <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 0"  hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                View Comments
              </mat-panel-title>
              <!-- <mat-panel-description>
                Type your name and age
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <mat-list>                                              
                <!-- Comment display -->
                <div *ngFor="let comment of data.playlist.results.comments">
                  <mat-divider></mat-divider>
                  <mat-list-item>{{comment.avatar}} - {{comment.owner}}</mat-list-item>
                  <mat-list-item>
                    {{ comment.content }}
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </div>
                <!-- <mat-list-item>Item 2</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 3</mat-list-item> -->
            </mat-list>
            
            
            
            <!-- <mat-form-field>
              <input matInput placeholder="Enter comment...">
            </mat-form-field> -->
        
            <form [formGroup]='commentForm'>
                <mat-form-field appearance="fill" class="full-width">
                    <textarea matInput placeholder="Leave a comment..."></textarea>
                  
                </mat-form-field>
            </form>
        
            <mat-action-row>
              <button mat-button color="primary" (click)="onSubmit(data.playlist.results.id)">Submit</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
  </mat-dialog-content>
  
 
