<form [formGroup]='playlistForm'>
<mat-form-field>
  <input matInput formControlName='thumbnail' placeholder="Thumbnail">
</mat-form-field>
<mat-form-field>
  <input matInput formControlName="name" placeholder="Playlist Name">
</mat-form-field>
<!-- <mat-form-field>
  <input matInput formControlName="artist" placeholder="Artist">
</mat-form-field>
<mat-form-field>
  <input matInput formControlName="thumbnail" placeholder="Thumbnail">
</mat-form-field> -->
<button mat-raised-button (click)='onSubmit()' mat-dialog-close>Done</button>
</form>