<!--Navbar-->


<!-- <div id='body'> -->
<!--router link to community page-->
<div id='commButton'>
  <button (click)="commPageNav()" class='community' mat-raised-button>Community</button>
</div>


<!-- onClick will bring up modal for playlist creation
<div id='playlistButton'>
  
</div> -->

<!--displays user created playlists-->
<!-- <div class='user'>
  <h1>Playlists by {{_data.results.username}}</h1>
  <ul *ngIf='_data.results'>
    <li *ngFor='let playlist of _data.results.playlists'>
      <button class='selectPlayButton' mat-raised-button (click)="getPlaylist(playlist.id)">{{ playlist.name }}</button>
    </li>
  </ul>
  <button class="addPlaylistButton" mat-raised-button (click)='playlistToggle()'>Create Playlist</button>
  <div *ngIf='addPlaylist'>
  <app-my-dialog></app-my-dialog>
  </div>
</div> -->



<mat-list class="user">
    <h1>Playlists by {{ _data.results.username }}</h1>
  <div *ngIf='_data.results'>
    <mat-list-item *ngFor='let playlist of _data.results.playlists'>
      <a matLine (click)="getPlaylist(playlist.id)">{{ playlist.name }}</a>
    <mat-divider></mat-divider>
  </mat-list-item>
  </div>
</mat-list>  
<br>  
  <div class="createPlaylist">
    <button class="addPlaylistButton" mat-raised-button (click)='playlistToggle()'>Create Playlist</button>
    <div *ngIf='addPlaylist'>
      <app-my-dialog></app-my-dialog>
    </div>
  </div>


<!--displays selected playlist-->
<div class='created'>
  <h1>Your Playlists</h1>
  <ul>
    <div>
      <h2>{{ _playlistData.results.name }}</h2>
      <ul>
        <h3>Songs:</h3>
        <div *ngIf="_playlistData.results">
          <div *ngFor="let song of _playlistData.results.songs"> 
            <h3> {{ song.artist }} - {{ song.name }}</h3>
            <button class='editPlaylistButton' mat-raised-button (click)='editToggle()'>Edit</button>
            <button class='deleteSongButton' mat-raised-button (click)='delete(song.id)'>Delete</button>
            <div *ngIf="editSong"> 
                <form [formGroup]='editForm'>
                    <label for="name">Name</label>
                      <input formControlName="name">
                      <br>
                    <label for='album'>Album</label>
                      <input formControlName='album'>
                      <br>
                    <label for='artist'>Artist</label>
                      <input formControlName="artist">
                      <br>
                    <label for='thumbnail'>Thumbnail</label>
                      <input formControlName="thumbnail">
                    <button mat-raised-button (click)='onEdit(song.id)'>Done</button>
                </form>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </ul>
        <!-- add -->
        <div *ngIf='_playlistData.results'>
      <button class='addSongButton' mat-raised-button (click)='songToggle()'>Add Song</button>
        <div *ngIf="addSong">
      <app-song-dialog [playlist]="_playlistData"></app-song-dialog>
      </div>
      </div>
      <!-- edit -->
      <!-- <button class='editPlaylistButton' mat-raised-button (click)='editToggle()'>Edit</button>
      <div *ngIf="editSong">
          <form [formGroup]='editForm'>
              <label for="name">Name</label>
                <input formControlName="name">
              <label for='album'>Album</label>
                <input formControlName='album'>
              <label for='artist'>Artist</label>
                <input formControlName="artist">
              <label for='thumbnail'>Thumbnail</label>
                <input formControlName="thumbnail">
            
              <button mat-raised-button (click)='onEdit()'>Done</button>
            </form>
      </div> -->

</div>
<!-- </div> -->


