.created{
    margin-left: 60%;
    margin-top: -380px;
}

.commButton {
    padding-bottom: 6em;
}

.user{
    margin-left: 10%;
   margin-right: 65%;
}

.community{
    margin-left: 40%;
    font-size: 40px;
    margin-top: 60px;
    width: 6em;
    height: 1.5em;
    background-color: 
}

.createPlaylist{
    margin-left: 8em;
    margin-right: 60%;
    /* font-size: 25px; */
}

#body{
    background-color: #48BEFF;
    /* padding-bottom: 500px; */
}