.created{
    margin-left: 60%;
    margin-top: -3%
}

.user{
    margin-left: 20%;
}

.community{
    margin-left: 40%;
    font-size: 45px;
}

.createPlaylist{
    margin-left: 42%;
    font-size: 25px;
}

#body{
    background-color: #3D7068;
    padding-bottom: 500px;
}