<!--Navbar-->


<div id='body'>
<!--router link to community page-->
<div id='commButton'>
  <button class='community'>Community</button>
</div>


<!--onSubmit will bring up modal for playlist creation-->
<div id='playlistButton'>
  <button class='createPlaylist'>Create Playlist</button>
</div>

<!--displays user created playlists-->
<div class='user'>
  <h1>Playlists by *User</h1>
  <ul *ngIf='_data.results'>
    <li *ngFor='let item of _data.results'>
      {{ item.name | json }}
      </li>
  </ul>
</div>

<!--displays selected playlist-->
<div class='created'>
  <h1>*Playlist title</h1>
  <ul>
    <li>data</li>
    <li>data</li>
    <li>data</li>
  </ul>
</div>
</div>
