<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TuneTalk</title>
</head>
<body>

<!-- <div *ngIf="bool; else false">
  It is true
</div>

<ng-template #false >
  It is false
</ng-template> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-info navbar fixed-top" >
    <h3 class="navbar-brand" class="text-dark" href="/"> <a ><img src="../assets/logo_navbar4.png" routerLink="/home"></a></h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
       
      </ul>
      <ul class="nav navbar-nav ml-auto" >
          <li class="nav-item">
              <a (click)="openSignup()" class="nav-link"  > Signup </a>
            </li>
            
            <li class="nav-item">
              <a (click)="openLogin()" class="nav-link"> Login </a>
            </li>
            
       <li class="nav-item">
          <a (click)="userNav()" class="nav-link"> Create </a>
        </li> 
        
        <li class="nav-item">
          <a (click)="logout()" class="nav-link"> Logout </a>
        </li>
        
      </ul>
    </div>
  </nav>
    
    <div class="" style="text-align:center">
      <h1>
        {{ title }}!
      </h1>
    </div>
    <router-outlet></router-outlet>
</body>
</html>



<!-- <app-user></app-user> -->
<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" > -->
<!-- <div class="navbar-nav"> -->
<!-- <a class="navbar-brand nav-link" >TuneTalk</a> -->
<!-- <div class="inline"> -->
<!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Signup</button> -->
<!-- or -->
<!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Login</button> -->
<!-- </div>   -->
<!-- </div> -->
<!-- </nav> -->


   
